@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");
@font-face {
  font-family: "Formula1";
  src: url("./fonts/Formula1-Regular_web_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Formula1";
  src: url("./fonts/Formula1-Bold_web_0.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Formula1Wide";
  src: url("./fonts/Formula1-Wide_web_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;

  font-family: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Formula1", sans-serif;
  color: #fff;

  background-color: #0f0f0f;
  padding: 2rem;
  margin: 0;
}

h1 {
  text-align: center;
  color: #f00;
  margin-bottom: 2rem;
}

.form-group {
  padding-bottom: 1rem;
  border-bottom: 2px solid #ff0101;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-group input {
  padding: 0.6rem 1rem;
  font-size: 1rem;

  border-radius: 4px;
  border: none;

  flex: 1;
}

.form-group button {
  padding: 0.6rem 1rem;

  background-color: #ff2d00;
  color: white;

  border: none;
  border-radius: 4px;

  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
}

.absolute-buttons {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
input[type="color"] {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.timing-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  font-weight: 800;

  font-size: 1.2rem;
}

.drivers-container {
  font-family: var(--driver-font);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.driver-row {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  cursor: pointer;
}

.leftWrapper {
  background-color: var(--color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  padding: 0.25rem;

  > p {
    padding: 0.25rem;
  }

  width: 115px;
}

.position {
  color: var(--position-color);
}

.name {
  background-color: var(--name-background);
  border-radius: 5px;

  color: var(--color);
  width: 4ch;
  text-align: center;
}

.time {
  color: #fff;
  font-weight: normal;
}

.driver-row:first-of-type {
  .time {
    color: rgb(250, 0, 250);
  }
}

#bulk-import {
}
